html{
background: url("https://i.pinimg.com/originals/bf/7e/b9/bf7eb978024927fbebf195da226a48d3.jpg") no-repeat;
 background-size: cover;
}
body{ display: inline; 
}
h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: 	#1E90FF;
}


li{
    float: left;
    margin-left: 10%;
}

li a{
    display: block;
    color:white;
    text-align:center;
    padding: 10px 59px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}