html{
background: url(http://4.bp.blogspot.com/-uiriBxnwZl4/UQKaYQAYXHI/AAAAAAAARkQ/h6UhftWb46s/s1600/Lonely+Tree+Paography+Wallpapers+03.jpg) no-repeat center;
 background-size: cover;
}
body{ display: inline; 
}
h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}