#section1{
    background: url("https://scontent-dub4-1.xx.fbcdn.net/v/t1.0-9/14937455_1072090426244779_5235975685968625729_n.jpg?oh=40a1695fb75a00ad4c76bc5f142d1bbb&oe=5B06CAB8")no-repeat center;
 background-size: cover;
}
#section2{
    background: url("https://scontent-dub4-1.xx.fbcdn.net/v/t1.0-9/14572211_1775924619288543_6850423836353200395_n.jpg?oh=c829543e2920c91fefa32ade19d32c91&oe=5B407D23")no-repeat center;
 background-size: cover;
}

.section{
    text-align: center;
    color: white;
    font-size: xx-large;
}
 /* styling that effects all home button for interests pages and next button for sports page */
.interests_button1{
    position: fixed;
    bottom: 200px;
    right: 600px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}

.interests_button1:hover{
    background-color: #474747;
}

.interests_button2{
    position: fixed;
    bottom: 200px;
    right: 800px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}

.interests_button2:hover{
    background-color: #474747;
}


