<!--Design for home button-->
.interests_button2{
    position: absolute;
    top:900px;
    right: 490px;
    z-index: 99;
    font-size: 18px;
    border: white;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
    width: 400px;
    height: 60px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    
}

.interests_button2:hover{
    background-color: #009999;
}